body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black !important;
  
  }
  .container {
    border-radius: 30px !important;
    color: black;  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.logo{
  width: 250px;
  margin-bottom: -10px;
   float: left;

  }

.Navigation{
  float: left;
  width: 100%;
  color: white;
  
}

.NavBar a{
  margin-left: 70px;
  font-size: 20px !important;
      
}  


.contain{
  margin: 30px;
}
.submit{
  display: flex;
}

.text{
  font-size: 30px;
  margin-left: 50px;
  margin-top:50px;
  color: white !important;
}
.picked{
  color: white;
  margin-top: 30px;
}
.btn{
  outline: 1inch;
  margin-left: 50px;
}



.btn-success {
  border-color: white;
  color: #6CB632;
  font-style: bold;
  margin-left: 100px;
  width: 200px;
  border-radius: 5px;
  height: 50px;
  background-color: black;
  margin-top: 30px;
  font-style: bold;
  
}

.btn-success:hover {
  background-color: #6CB632;
  color: white;
}


.btn-success {
  border-color: white;
  color: #6CB632;
  font-style: bold;
  margin-left: 50px;
  width: 150px;
  border-radius: 16px;
  height: 50px;
  background-color: black;
  margin-top: 10px;
  font-style: bold;
  
}
.btn-success1 {
  border-color: #6CB632;
  color: #6CB632;
  font-style: bold;
  margin-left: -250px !important;
  width: 110px;
  border-radius: 16px;
  height: 40px;
  background-color: black;
  margin-top: -100px;
  font-style: bold;
  
}
.btn-success4 {
  border-color: #6CB632;
  color: #6CB632;
  font-style: bold;
  margin-left: -200px !important;
  width: 110px;
  border-radius: 16px;
  height: 40px;
  background-color: black;
  margin-top: -100px !important;
  font-style: bold;
  
}

.btn-success1:hover {
  background-color: #6CB632;
  color: white;
  border-color: #6CB632;
}
.btn-success4:hover {
  background-color: #6CB632;
  color: white;
  border-color: #6CB632;
}
.content{
  margin-top: -70px !important;
  margin-left: 150px !important;
  margin-bottom: 20px;
    

  
}
.calheader{
  margin-bottom: 35px;
  margin-top: 30px
}
.btnsub{
  background-color: red  !important;
  border-color: red;
}

input::placeholder {
    font-weight: bold;
    opacity: 5;
    color: #6CB632 !important;
}
input[type=text] {
  padding: 20px;
  margin-top: 50px;
    border-color:#6CB632;
    border-radius: 12px;

  
}
input[type=email] {
  padding: 20px;
  margin-top: 50px;
  border-color:#6CB632;
   border-radius: 12px;


}
input[type=password] {
  padding: 20px;
  margin-top:50px;
  border-color:#6CB632;
   border-radius: 12px;

  
}
.input:focus{
    margin-top: 20px !important;
    border:  50px !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
 
}
form{
  margin-left: 20px;
  margin-right: 30px;
}
.regtext1{
  color: white !important;
  font-size: 50px;
  text-align: left;
  margin-bottom: -20px;
  margin-top: 100px;
  margin-left: 20px;
}
.regtext{
  color: white !important;
  font-size: 50px;
  text-align: left;
  margin-bottom: -20px;
  margin-left: 20px;
  
}
.fcolumn{
  margin-left: -00px !important;
}
.btnsignup{
  background-color: #6CB632 !important;
  height: 50px;
  width: 180px;
  border-radius: 10px !important;
  
}
.foot2{
        color:white;
        margin-left: 35px;
        margin-top: -20ox;

}
.learn{
  color: white;
  font-size: 40px;
  margin-bottom: 80px;
  
}
.imgl{
  width: 450px !important;

}
.learning{
  display: flex;
     margin-left: 50px; 
     font-size: 18px;
  }

.learntext1{
  text-align: left;
  color: #6CB632;
  font-size: 18px;
  margin-left: 50px;
}
.num{
  margin-bottom: -10px ;
  margin-left: 40px;
  
}
.final{
  display: flex;
}


.learning1{
  display: flex;
  
}
.img2{
  margin-top: 110px;
  margin-left: 40px;
}
.lt{
  
  color: #6CB632;
}
.lt2{
  font-size: 18 px !important;
  margin-top: -20px;
  color:#6CB632;
}
.txt4{
  text-align: left;
  margin-left: 40px;
  font-size: 35px;
  margin-top: -25px;
}
.text-black{
  margin-top: -50px;
  font-size: 20px;
  font-weight: bold;
  margin-left: -45px !important;
}
.sub{
  margin-left: -150px !important;
  margin-top:40px! important;
}
.btnsubmit{
  background-color: rgb(138, 222, 13) !important;
  height: 52px;
  width: 150px;
  margin-left: 0px;
  border-radius: 0px !important;
  margin-top: -4px !important;
}
.email1{
  border-radius: 0px !important;
  border-color: green;
  color: black;
  margin-top: -40px !important;
  height: 50px;
}


.media{
  display: flex;
font-weight: bold;
font-size: 18px;
margin-left: 300px;
margin-top: -35px !important;
}
.connect{
  margin-bottom: -60px !important;
}
.Adress{
  font-weight: bold;
}
.err{
  color: white;
}


.home{
  color: white!important;
    font-weight: bolder !important;
       font-family: 'Segoe UI'!important;

}
/* .home:active{
  background-color: green;
} */

.home:hover{
   
  font-weight: bold !important;
text-decoration: underline;  
}
.home:active{
   
  font-weight: bold !important;
text-decoration: underline;  
}


.login{
  color: white!important;
    font-weight: bolder !important;
       font-family: 'Segoe UI'!important;


}
.login:hover{
  background-color: #6CB632!important;
  border-radius: 15px!important;
    font-weight: bolder !important;

  
}
.login:active{
   
  font-weight: bold !important;
text-decoration: underline;  
}
.signup{
  color: white!important;
      font-weight: bolder !important;
         font-family: 'Segoe UI'!important;

      


}
.signup:hover{
  background-color: #6CB632!important;
  border-radius: 15px!important;
    font-weight: bolder !important;

  
}
.signup:active{
   
  font-weight: bold !important;
text-decoration: underline;  
}
.schedule{
   font-family: 'Segoe UI'!important;
   font-weight: bolder !important;

 color: white!important;

}
.schedule:hover{
  text-decoration: underline;  

    font-weight: bolder !important;

  
}

.schedule:active{
   
  font-weight: bold !important;
text-decoration: underline;  
}
.learning{

 color: white!important;
   font-weight: bolder !important;


}
.learning:hover{
  text-decoration: underline;  
   font-family: 'Segoe UI'!important;

    font-weight: bolder !important;

  
}
.learning:active{
   
  font-weight: bold !important;
text-decoration: underline;  
}
.profile{

 color: white!important;
   font-weight: bolder !important;
   font-family: 'Segoe UI'!important;



}
.profile:hover{
  text-decoration: underline;  
color: gre;
    font-weight: bolder !important;


color: #6CB632;


  }
  .profile:active{
   
  font-weight: bold !important;
text-decoration: underline;  
}
.notice{
   font-family: 'Segoe UI'!important;

 color: white!important;
  font-weight: bolder !important;


}
.notice:hover{
  text-decoration: underline;  

  font-weight: bolder !important;
  
}
.notice:active{
   
  font-weight: bold !important;
text-decoration: underline;  
}
.imgl{
  border-radius: 50px !important;
}
.long{
  color: white!important;
  font-size: 22px;
  font-family: 'Inter' !important;
  font-style: normal !important;
  margin-left: -40px !important;

}
.btn5{
  /* border-color: #6CB632 !important; */
  color: white!important;
  background-color: #6CB632 !important;
  border:2px !important;
  border-radius: 15px!important;
  margin-top: 20px!important;
 width: 249px;
  height: 65px;
  font-family: 'Roboto';
font-style: normal;
font-weight: 800;
font-size: 30px;


}
 
.file{
width: 520px;
height: 400px;
margin-bottom: 50px !important;

}
.footimg{
  width: 150px;
  margin-left: -60px;
  margin-top: -10px;

}
.connect{
margin-top: 7px;
}
.sco{
  width: 25px!important;
}
.container-fluids{
  margin-top: 100px!important;
  margin-bottom: -10px;
}
.mb-3{
  text-align: left !important;
  margin-top: -20px !important;
  

}
   
      input[type="text"]::placeholder {
        text-align: left;
      }
         input[type="password"]::placeholder {
        text-align: left;
      }
         input[type="email"]::placeholder {
        text-align: left;
      }

.top{
  background-color: red !important;
  margin-left: -200px;
  margin-top: 50px;
  border-radius: 5px !important;
}