.fullpage{
    background-color: #6CB632 !important;
    width: 100%;
    height: 100%;
}

.imgup{
    width: 150px;
    margin-left: 1370px !important;
}
.imgdown{
    width: 150px;
    margin-right: 1400px !important;
}
.aut{
    text-decoration: underline;
    color: white;
    text-align: center ;
    margin-top: 100px;
    margin-bottom: 0px;
    font-size: 27px;
    
}
::placeholder {
   text-align: center; 
}
.authentication{
    align-items: centre;
    
}
.auth{
    
    width: 100px;
    display: flex;
    height: 100px;
    margin-left: 50px;
}
.all{
   margin-left: 500px; 
}
.otp-field{
     width: 50px; 
     height: 55px;
     text-align: left;
     font-size: 13px;
     margin-left: 20px;
    

}
.otp{
    width: 750px;
    margin-top: -10px !important;
}
    .aut1{
color: white;
margin-top: 20px;
font-size: 30px;
    
    margin-left: 50px;
}
.pass-field1{
width: 600px;
margin-top: 170px !important;
margin-bottom: 50PX;
}
.pass-field2{
width: 600px;
margin-top: 40px !important;
margin-bottom: 50PX;
}
.pass-field3{
width: 600px;
margin-top: 40px !important;
margin-bottom: 140PX;
border-radius: 10px !important;
}

.cont{
    background-color: white!important;
color: #6CB632;
    font-weight: bold !important;
}
.cont:hover{
color: #6CB632 !important;
border-color: green !important;
border-width: 1px !important;
}
.cont4{
    font-weight: bold !important;
    font-size: 20px;
}
.reseting{
    color: white !important;
}
